<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._1"
        android:usesCleartextTraffic="true">

        <!-- 1. Welcome Screen: This must be the ONLY Launcher -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Login Page -->
        <activity
            android:name=".loginA"
            android:exported="false" />

        <!-- 3. Signup Page -->
        <activity
            android:name=".signupA"
            android:exported="false" />

        <!-- 4. Home Feed Page (MainActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 5. Report Page -->
        <activity
            android:name=".reportA"
            android:exported="false" />
        <activity android:name=".activity_details" android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".ResponsesActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />

    </application>

</manifest>
